/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
    color: #3A4750;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

h1, h2 {
    color: #303841;
}

h3 {
    color: #444b54;
}

p {
    margin: 10px 10px 20px 10px;    
}


header {
    background: #c8c8c8 url(../img/banner2.jpg) center center no-repeat;
    height: 50vh;
    background-size: cover;
    margin-bottom: 30px;
}


/*********************** profile ***********************/


#profile {
    margin:  auto;
    text-align: center;
}

#profile img {
    width: 150px;
    border-radius: 50%;
}


.row:nth-child(n) {
    border-bottom: 1px solid #ddd;    
}

.row:last-child {
    border-bottom: none !important;
}


/******************** contact form ********************/

.error {
    background-color: #fff4f4; 
}


/*********************** footer ***********************/
footer {
    background-color: #CED8DB;
}

footer .social {
    font-size: 30px;
    text-align: center;
}

footer .social li {
    margin: 10px 5px;
}



