/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
}

body {
  padding-top: 50px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

body {
    background: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}

h1, h2 {
    color: #303841;
}

h3 {
    color: #444b54;
}

p {
    margin: 10px 10px 20px 10px;    
}

section {
    padding: 100px 20px;
    position: relative;
}

nav {
    z-index: 9999;
    background-color: #333;
    height: 50px;
}

nav a {
    color: #ddd;
    font-weight: 700;
}


/*********************** profile ***********************/


#profile {
    text-align: center;
    background: #c8c8c8 url(../img/banner2.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#profile img {
    width: 150px;
    border-radius: 50%;
}

#profile h2 {
    color: white;
    text-shadow: 2px 2px 5px black;  
}



#content section:nth-child(odd) {
    background-color: #dfdfdf;    
}


/******************** contact form ********************/

.error {
    background-color: #fff4f4; 
}


/*********************** footer ***********************/
footer {
    background-color: #333;
}

footer .social {
    font-size: 30px;
    text-align: center;
}

footer .social li {
    margin: 0 5px;
}

footer a:link, a:visited, #tm {
    color: #ddd;
}

footer a:hover {
    color: #888;
}

#tm {
    text-align: center;
    line-height: 30px;
}



