/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

body {
  background: rgb(240, 240, 240);
  color: #3A4750;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/*
nav li {
  display: inline-block;
  margin-right: 40px;
  float: right;
  padding: 20px 0;
  font-size: 24px;
}
*/

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  color: #303841;
  margin: 10px 10px;
}

p {
  margin: 10px 10px 20px 10px;
  font-size: 12pt;
}

#header {
  margin: 0px;
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-size: cover;
  text-align: center;
  background-color: rgb(200, 200, 200);
  margin-bottom: 30px;
}

#profile {
  padding: 80px 80px 80px 10px;
  margin-left: 0;
}
#profile, #profile-avatar, #profile-text {
  float: left;
  display: inline-block;
}
#profile-avatar {
  padding-right: 10px;
}
#profile-text {
  margin: 0;
}
#profile-text h1 {
  font-size: 32pt;
  margin: 0;
  text-align: left;
  text-shadow: 0 0 10px white;
}
#profile-text p {
  opacity: 1;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: left;
  text-shadow: 0 0 20px #FFF;
}
#profile {
  text-align: center;
}
#profile img{
  width: 108px;
  border-radius: 50%;
}

footer {
  background-color: #CED8DB;
}

footer .social {
  font-size: 24pt;
  text-align: center;
}

footer .social li {
  margin: 10px 5px;
}
