html,
body,
#cover {
  height: 100%;
}

body {
  background: $bodyWhite;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  position: relative;
  top: 50px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', helvetica, arial, sans-serif;
}


a {
  color: $mainOrange;
}
