
section {
  padding: 40px 10px;

  @mixin atSmall {
    padding: 100px 20px;
  }

  &:nth-child(odd) {
    background-color: #e6e6e6;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
  }

  a:link {
    color: #e78200;
    text-decoration: none;
  }

  a:visited {
    color: #e78200;
    text-decoration: none;
  }

  a:hover {
    color: #b57726;
  }

  a:active {
    color: #b57726;
    position: relative;
    top: 1px;
  }
}
